<h3>Tickets</h3 >
<hr>
<% if @tickets.present? %>
  <p>Reference Number </p>
  <ul>
    <% @tickets.each do |tkt| %>
      <li><%= link_to "#{tkt.request_number}", ticket_path(tkt) %></li>
    <% end %>
  </ul>
<% else %>
  <p>No tickets available</p>
<% end %>
